.box {
    display: flex;
    justify-content: center;
}

.Js{
    width: 90vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.899);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(185, 244, 196);
    display: grid;
    padding: 0px 24px;
    border-radius: 6px;
}

h1 {
    justify-self: center;
    font-size: 3em;
}
